alias ulocate="sudo updatedb && locate"
alias rmv="trash"
alias l="ls -lh"
alias la="ls -lAh"
alias cp="cp -ri" # confirm before overwriting something
alias df="df -h" # human-readable sizes
alias free="free -m" # show sizes in MB
alias np="nano -w PKGBUILD"
alias more="less"
alias xclip="xclip -selection c"
alias ports="lsof -i -P -n | grep LISTEN"
alias atom-edit='ATOM_HOME=$(pwd)/.atom atom'
alias y=yay
alias ipv4="curl -s ipv4.icanhazip.com | tr -d '\n' | xclip"
alias ipv6="curl -s ipv6.icanhazip.com | tr -d '\n' | xclip"
alias cpip=ipv4
alias psgrep="ps -aux | grep"
#alias k="git rev-parse --is-inside-work-tree &> /dev/null && k -h $@ || k -h --no-vcs $@"
alias ka="k -A"
alias sctl="sudo systemctl"
alias jctl="journalctl"
alias ssh="TERM=xterm ssh"
