@define-color highlight #962ac3;
@define-color base1 #2c2e3a;
@define-color base2 #23252e;
@define-color base3 #373a49;

* {
    font-family: JetbrainsMono;
}

#window {
    border: 2px solid @highlight;
    margin: 0px;
}

#input {
    margin-top: -1000px;
}

#inner-box {
    background-color: @base2;
}

#outer-box {
    margin: 2px;
    padding: 0px;
    background-color: @base2;
}

#text {
    padding: 5px;
    color: white;
}

#entry:nth-child(even) {
    background-color: @base1;
}

#entry {
    background-color: @base3;
}

#entry:selected {
    background-color: @highlight;
}

