set $menu wofi
set $term kitty
set $files thunar
set $browser firefox-developer-edition

bindsym $mod+n exec "set >> ~/set.env"

# Volume controls
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +2%
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -2%
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioMicMute exec --no-startup-id pactl set-source-mute @DEFAULT_SOURCE@ toggle

# Screen brightness controls
bindsym XF86MonBrightnessUp exec --no-startup-id brightnessctl s +10%
bindsym XF86MonBrightnessDown exec --no-startup-id brightnessctl s 10%-

# Touchpad controls
bindsym XF86TouchpadToggle exec --no-startup-id touchpad-toggle.sh

# Media player controls
bindsym XF86AudioPlay exec --no-startup-id playerctl play-pause
bindsym XF86AudioStop exec --no-startup-id playerctl stop
bindsym XF86AudioNext exec --no-startup-id playerctl next
bindsym XF86AudioPrev exec --no-startup-id playerctl previous

# Power button
bindsym XF86PowerOff exec --no-startup-id powermenu

# PrintScr button
bindsym Print exec grimshot --notify save output
bindsym Shift+Print exec ~/.config/sway/scripts/screenshot.sh

# program shortcuts
bindsym $mod+Return exec $term
bindsym $mod+e exec $files
bindsym $mod+f exec $browser
bindsym $mod+w exec --no-startup-id "~/.scripts/rofi-wifi-menu/rofi-wifi-menu.sh center"
#bindsym $mod+r exec --no-startup-id rofi-pass
bindsym $mod+b exec --no-startup-id rofi-bluetooth
bindsym $mod+c exec --no-startup-id keepass-dmenu
bindsym $mod+Shift+v exec --no-startup-id clipboard-history.sh

bindsym $mod+Ctrl+Tab exec --no-startup-id "mpv --loop --no-osc --no-input-default-bindings --cursor-autohide=no --panscan=1.0 ~/.config/wallpapers/FalconHeavyNightLaunch-Animation.mkv"

# kill focused window
bindsym $mod+q kill

# start dmenu (a program launcher)
#bindsym $mod+d exec dmenu_run
# There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that
# installed.
bindsym $mod+d exec --no-startup-id $menu

# toggle title bar
bindsym $mod+t border normal
bindsym $mod+Shift+t border pixel 2

# change focus
bindsym $mod+j focus left
bindsym $mod+k focus down
bindsym $mod+l focus up
bindsym $mod+odiaeresis focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+j move left
bindsym $mod+Shift+k move down
bindsym $mod+Shift+l move up
bindsym $mod+Shift+odiaeresis move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+h split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+Shift+f fullscreen toggle

# change container layout (stacked, tabbed, toggle split)
#bindsym $mod+s layout stacking
#bindsym $mod+w layout tabbed
#bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
#bindsym $mod+d focus child

# move workspaces
bindsym $mod+Shift+Tab move workspace to output right

# Define names for default workspaces for which we configure key bindings later on.
# We use variables to avoid repeating the names in multiple places.
set $ws1 "1"
set $ws2 "2"
set $ws3 "3"
set $ws4 "4"
set $ws5 "5"
set $ws6 "6"
set $ws7 "7"
set $ws8 "8"
set $ws9 "9"
set $ws10 "10"

# Custom Workspaces
set $wsThunderbird "Mail"

# switch to workspace
bindsym $mod+1 workspace number $ws1
bindsym $mod+2 workspace number $ws2
bindsym $mod+3 workspace number $ws3
bindsym $mod+4 workspace number $ws4
bindsym $mod+5 workspace number $ws5
bindsym $mod+6 workspace number $ws6
bindsym $mod+7 workspace number $ws7
bindsym $mod+8 workspace number $ws8
bindsym $mod+9 workspace number $ws9
bindsym $mod+0 workspace number $ws10

bindsym $mod+r workspace $wsThunderbird

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number $ws1
bindsym $mod+Shift+2 move container to workspace number $ws2
bindsym $mod+Shift+3 move container to workspace number $ws3
bindsym $mod+Shift+4 move container to workspace number $ws4
bindsym $mod+Shift+5 move container to workspace number $ws5
bindsym $mod+Shift+6 move container to workspace number $ws6
bindsym $mod+Shift+7 move container to workspace number $ws7
bindsym $mod+Shift+8 move container to workspace number $ws8
bindsym $mod+Shift+9 move container to workspace number $ws9
bindsym $mod+Shift+0 move container to workspace number $ws10

bindsym $mod+Shift+r exec swaymsg reload
bindsym $mod+Shift+e exec "swaynag -t warning -m 'Do you really want to exit sway?' -B 'Yes, exit sway' 'swaymsg exit'"

bindcode $mod+49 scratchpad show
bindcode $mod+Shift+49 move scratchpad

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym j resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym l resize shrink height 10 px or 10 ppt
        bindsym odiaeresis resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape or $mod+r
        bindsym Return mode "default"
        bindsym Escape mode "default"
        bindsym $mod+r mode "default"
}

#bindsym $mod+r mode "resize"

# Resizing by 10
bindsym $mod+Ctrl+Right resize shrink width 10 px or 10 ppt
bindsym $mod+Ctrl+Up resize grow height 10 px or 10 ppt
bindsym $mod+Ctrl+Down resize shrink height 10 px or 10 ppt
bindsym $mod+Ctrl+Left resize grow width 10 px or 10 ppt

# Resizing by 1
bindsym $mod+Ctrl+Shift+Right resize shrink width 1 px or 1 ppt
bindsym $mod+Ctrl+Shift+Up resize grow height 1 px or 1 ppt
bindsym $mod+Ctrl+Shift+Down resize shrink height 1 px or 1 ppt
bindsym $mod+Ctrl+Shift+Left resize grow width 1 px or 1 ppt

#bindsym $mod+Tab exec --no-startup-id "i3exit.sh lock"
bindsym $mod+Tab exec --no-startup-id "swaylock -f -c 222222"

# Dunst
#bindsym Ctrl+Space exec --no-startup-id "dunstctl close"

# Mako
bindsym Ctrl+Space exec --no-startup-id "makoctl dismiss"
bindsym Ctrl+Shift+Space exec --no-startup-id "makoctl dismiss -a"
bindsym Ctrl+Less exec --no-startup-id "makoctl restore"

bindsym $mod+U exec "printenv > ~/env.actual"
