#output * bg ~/.scripts/arch-wallpaper-generator/bg.png fit #222222

# You can get the names of your outputs by running: swaymsg -t get_outputs
set $dp1 DP-1
set $dp2 HDMI-A-1
set $dp3 DP-2

workspace 1 output $dp1
workspace 2 output $dp2
workspace 3 output $dp3

output $dp2 pos 0 196 res 1920x1080@144Hz
output $dp1 pos 1920 196 res 3840x2160@60Hz scale 2
output $dp3 pos 3840 0 transform 270

# XWayland HiDPI fix
#xwayland scale 2
exec_always "sh -c 'sleep 5 && xprop -root -f _XWAYLAND_GLOBAL_OUTPUT_SCALE 32c -set _XWAYLAND_GLOBAL_OUTPUT_SCALE 2'"
