# General settings
font pango:DejaVu Sans 10
floating_modifier $mod
default_border pixel 2
default_floating_border pixel 2

# Configure border style <normal|1pixel|pixel xx|none|pixel>
#default_border pixel 1
#default_floating_border normal

# Hide borders
#hide_edge_borders none

# Color settings        border  bground text  indicator child_border
client.focused          #FFB52A #FFB52A #000000 #FFB52A #FFB52A
client.focused_inactive #222222 #222222 #DFDFDF #222222 #222222
client.unfocused        #222222 #222222 #DFDFDF #222222 #222222
client.urgent           #BD2C40 #BD2C40 #DFDFDF #BD2C40 #BD2C40
client.placeholder      #222222 #222222 #DFDFDF #222222 #222222
client.background       #222222

# Window title left padding
for_window [class=".*"] title_format " %title"
