for_window [class="Nm-connection-editor"] floating enable
for_window [title="win0"] floating enable
for_window [instance="sun-awt-X11-XDialogPeer"] floating enable
for_window [title="Microsoft Teams Notification"] floating enable
for_window [class="Toplevel"] floating enable
for_window [instance="origin.exe"] floating enable
for_window [class="AudioReplay"] floating enable

for_window [class="mpv"] border none
